@font-face {
  font-family: 'Avenir';
  src: url(../fonts/avenir-reg.otf) format("opentype");
}

p {
  font-family: 'Avenir', sans-serif;
}

p#main {
  font-family: 'Avenir', sans-serif;
  font-size: 30px;
  min-width: 255px;
  height: 96px;
  text-align: center;
  top: -20%;
}

input {
  border: none;
  border-bottom: 1px black solid;
  font-family: 'Avenir', sans-serif;
  font-size: 30px;
  max-width: 51px;
}

#nav-txt-1 {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 30px;
  min-width: 255px;
  height: 96px;
  text-align: center;
  top: -20%;
}

#nav-txt-2 {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 30px;
  min-width: 255px;
  height: 96px;
  text-align: center;
}


p,
button#nav-btn {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
