button {
  font-family: 'Avenir Regular', sans-serif;
  display: block;
  border: 5px solid white;
  background: none;
  width: 138px;
  height: 64px;
  font-size: 25px;
  color: white;
  margin: 455px 0 0 82px;
}

button:hover {
  background: white;
  color: #3627AF;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#back-nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  flex-direction: row;
  width: 93px;
  height: 46px;
}

#back-nav:hover {
  margin-left: -4px;
}

nav.back {
  display: block;
  position: absolute;
  border-bottom-left-radius: 3px;
  border-left: 2px white solid;
  border-bottom: 2px white solid;
  transform: rotate(45deg);
  height: 13px;
  width: 13px;
  margin: 27px;
}

p.back-txt {
  display: block;
  font-family: 'Avenir Regular', sans-serif;
  font-size: 17px;
  width: 49px;
  height: 23px;;
  color: white;
  margin: 25px 0 0 44px;
}

.bullet {
  display: block;
  position: relative;
  font-family: 'Futuris Black', sans-serif;
  height: 138px;
  font-size: 110px;
  line-height: 117px;
  text-align: center;
  color: white;
}
